/.idea
/data
/dataset_jr
/jSymbolic2
__pycache__/
/data_new
/models
/plot
cross_platform.py
loadtest.pkl
loadtrain.pkl
rapjazz
XGBoost.py
loadtesthex.pkl
loadtrainhex.pkl
xbgclf.pkl
set.pkl
/midifiles
/schema
/best